 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      color: #333;
    }
    header {
      background-image: url(images3.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      color:white;
      padding: 20px;
      text-align: center;
    }
    header h1 {
      margin: 0;
    }
    nav {
      background: #6e6d6d;
      padding: 10px;
      text-align: center;
      box-shadow: 0px 0px 20px rgb(189, 189, 189);
  
    }
    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }
    .marq{
      padding: 5px;
      font-weight:bold;
    }
    .hero {
      background: url(images4.jpeg);
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 80px 20px;
      text-align: center;
      box-shadow: 0px 0px 10px;
    }
    .hero h2 {
      font-size: 36px;
      margin-bottom: 10px;
    }
    .hero p {
      font-size: 18px;
    }
    .section {
      padding: 40px 20px;
      max-width: 1100px;
      margin: auto;
      border-bottom: 2px solid rgb(216, 215, 215);
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
    }
    .card {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
    .card:hover {
      background: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0,0,0,1.0);
      cursor: pointer;

    }
    .card h3 {
      margin-top: 0;
      color: #1e88e5;
    }
    .order {
      background: #e3f2fd;
      border-radius: 10px;
      padding: 30px;
    }
    form input, form textarea, form button {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    form button {
      background: #1e88e5;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    form button:hover {
      background: #1565c0;
    }
    .whatsapp {
      text-align: center;
      margin-top: 20px;
    }
    .whatsapp a {
      display: inline-block;
      background: #25d366;
      color: #fff;
      padding: 12px 25px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: bold;
    }
    footer {
      background: #2c2c2c;
      color: #fff;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
    }
    .hi{
      width:100%;
      height:auto;
      border-radius:10px;
    }